*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}
body {
    background-color: rgba(1, 1, 36, 0.986);
    color: white;
}
.head-nav{
    position: relative;
}
.hn-left{
    width: 200px;
    height: 30px;
    margin: 15px 0px 0px 15px;
    
}
.hnl-name{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hn-right{
    width: 225px;
    height: 80px;
    margin: 30px auto;
}
.hnr-list{
    list-style: none;
}
.hnr-item{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
}
.hnri-link{
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    display: inline-block;
    line-height: 30px;
}
.hnri-link:hover{
    background-color: rgb(255, 217, 0);
    color: black;
    border-radius: 5px;
}
.head-title{
    width: 100%;
    height: 190px;
    text-align: center;
    line-height: 50px;
    
}
.ht-full-span{
    margin-top: 20px;
    display: inline-block;
}
.ht-dot{
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
}
.ht-line{
    width: 250px;
    height: 5px;
    background-color: gold;
    border-radius: 10px;
    display: block;
    margin-left: 15%;
    
}
.headbut{
    width: 100%;
    height: 90px;
    text-align: center;
}
.head-but{
    width: 40%;
    height: 120px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    margin: 10px 0px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
}
.hb-link{
    height: 70px;
    background-color: transparent;
    color: white;
    display: inline-block;
}
.hb-link:hover{
    border: solid 2px gold;
    border-radius: 10px;
}
.head-img{
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 40px 0px;
    position: relative;
}
.hi-img{
    width: 100%;
    height: 400px;
    border-radius: 50%;
}
.head-icon1{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
.head-icon2{
    width: 120px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.head-skills{
    width: 100%;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.055);
    margin: 40px 0px;
}
.hs-list{
    text-align: center;
}
.hs-item{
    display: inline-block;
    margin: 10px 0px;
    line-height: 40px;
}
.hsi-link{
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(71, 71, 71);
    display: inline-block;
}
.m1d{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 300px 0px 0px 0px;
}
.m1t{
    font-size: 40px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.m1d-bio{
    width: 80%;
    height: 250px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.m1d-list{
    text-align: center;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0px;
}
.m1d-item{
    display: inline-block;
    margin: 10px 30px;
}
.m1di-t{
    font-size: 30px;
}
.m1dit-img{
    width: 30px;
}
.m1di-b{
    font-size: 20px;
}
.m2d{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m2d-list{
    list-style: none;
}
.m2d-item{
    display: block;
    width: 350px;
    height: 60px;
    margin: 20px 0px;
    position: relative;
    border-left: solid 1px gold;
}
.m2di-img{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
.m2di-t{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}












@media (min-width:748px) {
    body {
        background-color: white;
    }
}
@media (min-width:1160px) {
    body{
        background-color: aqua;
    }
}
