*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgba(1, 1, 36, 0.986);
    color: white;
    position: relative;
    
}
/* here you can find the button that is in the view page and when you click on it you came back to home */
.up-home{
    position: fixed;
    bottom: 2%;
    left: 5%;
    z-index: 10;
    background-color: rgba(1, 65, 65, 0.781);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}
.up-home:hover{
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.up-home-link{
    width: 70px;
    height: 70px;
}
/* here is all about the navbar of the header */
.head-nav{
    position: relative;
}
.hn-left{
    width: 200px;
    height: 30px;
    margin: 15px 0px 0px 15px;
    animation: showhnleft 5s 1;
    
}
@keyframes showhnleft{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.hnl-name{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hn-right{
    width: 100%;
    height: 120px;
    animation: hnr-show 2s 1;
}
@keyframes hnr-show{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.hnr-list{
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.hnr-item{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 5px;
}
.hnri-link{
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;
    transition: all 0.4s;
    border-radius: 10px;
}
.hnri-link:hover{
    background-color: gold;
    color: black;
}
/* in here you can find all about the text of header */
.head-title{
    width: 100%;
    height: 190px;
    text-align: center;
    line-height: 50px;
    color: rgb(252, 160, 160);
    animation: headtitlecolor 4s infinite;
}
@keyframes headtitlecolor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.ht-full-span{
    margin-top: 20px;
    display: inline-block;
}
.ht-dot{
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
}
.ht-line{
    width: 250px;
    height: 5px;
    background-color: gold;
    border-radius: 10px;
    display: block;
    margin-left: 15%;
    
}
/* the two button of header is in here */
.headbut{
    width: 100%;
    height: 90px;
    text-align: center;
}
.head-but{
    width: 150px;
    height: 120px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    margin: 0px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.hb-link{
    width: 150px;
    height: 70px;
    display: inline-block;
    background-color: transparent;
    color: white;
    display: inline-block;
    transition: all 0.2s;
}
.hb-link:hover{
    border: solid 5px gold;
    border-radius: 10px;
    animation: hblinkheu 5s infinite;
}
@keyframes hblinkheu {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
/* the header image is in here and all of other things around it */
.head-img{
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 40px 0px;
    position: relative;
}
.hi-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: hiimgboxshodow 5s infinite alternate;
}
@keyframes hiimgboxshodow {
    0%{
        box-shadow: 0px 0px 20px 20px rgb(255, 255, 255);
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.head-icon1{
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}
.head-icon2{
    width: 120px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
/* here is the part of all skills that you metion it */
.head-skills{
    width: 100%;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.055);
    margin: 40px 0px;
}
.hs-list{
    text-align: center;
}
.hs-item{
    display: inline-block;
    margin: 10px 0px;
    line-height: 40px;
}
.hsi-link{
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(71, 71, 71);
    display: inline-block;
}
/* here is the main div that is about you */
.m1d{
    width: 100%;
    height: 450px;
    position: relative;
    margin: 30px 0px 0px 0px;
}
.m1t{
    font-size: 40px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.m1d-bio{
    width: 80%;
    height: 250px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.m1d-list{
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
}
.m1d-item{
    display: inline-block;
    margin: 10px 30px;
}
.m1di-t{
    font-size: 30px;
}
.m1dit-img{
    width: 30px;
}
.m1di-b{
    font-size: 20px;
}
/* here is about every thing that you can do on the main page */
.m2d{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.m2d-list{
    list-style: none;
}
.m2d-item{
    display: block;
    width: 350px;
    height: 60px;
    margin: 20px 0px;
    position: relative;
    border-left: solid 1px gold;
}
.m2di-img{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
.m2di-t{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* here you can every thing about first project */
.m2s-art1{
    width: 100%;
    height: 800px;
    text-transform: capitalize;
}
.m2sa-title{
    width: fit-content;
    padding: 5px;
    text-align: center;
    margin: 10px 50%;
    transform: translateX(-50%);
    font-size: 40px;
    border-bottom: solid 5px gold;
    display: inline-block;
}
.m2sa-2title{
    width: fit-content;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    display: inline-block;
}
.m2sa-list{
    list-style: none;
    margin: 5px 20px;
}
.m2sa-item{
    display: inline-block;
    background-color: black;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    border-radius: 5px 10px;
}
.m2sa-bio{
    width: 320px;
    height: fit-content;
    margin: 10px auto;
    font-size: 20px;
    text-align: justify;
}
.m2sal-div{
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.m2sa-link{
    width: 150px;
    height: 60px;
    color: white;
    display: inline-block;
    line-height: 60px;
    font-size: 24px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.4s;
}
.m2sa-link:hover{
    background-color: rgba(255, 217, 0, 0.479);
    color: black;
}
.m2sal-img{
    width: 30px;
    line-height: 60px;
    display: inline-block;
}
.m2saimg-div{
    width: 100%;
    height: 300px;
    margin: 40px 0px;
}
.m2sa-img{
    width: 100%;
    height: 100%;
}
/* here you can every thing about second project */
.m2s-art2{
    width: 100%;
    height: 800px;
    text-transform: capitalize;
    margin-top: 120px;
}
.m2sa2img-div{
    width: 100%;
    height: 350px;
}
.m2sa2-img{
    width: 100%;
    height: 100%;
}
.m2sa2-details{
    width: 100%;
    height: 450px;
    margin-top: 100px;
}
.m2sa2-title{
    font-size: 30px;
    margin: 20px;
    width: fit-content;
}
.m2sa2-list{
    list-style: none;
    text-align: center;
    margin: 30px 0px;
}
.m2sa2-item{
    display: inline-block;
    background-color: black;
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    border-radius: 5px 10px;
}
.m2sa2-bio{
    width: 320px;
    height: fit-content;
    margin: 30px auto;
    font-size: 20px;
    text-align: justify;
}
.m2sa2l-div{
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 40px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.m2sa2-link{
    display: inline-block;
    color: white;
    line-height: 60px;
    border-radius: 10px;
    width: 180px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    transition: all 0.4s;
}
.m2sa2-link:hover{
    background-color: rgba(255, 217, 0, 0.479);
    color: black;
}
.m2sa2l-img{
    width: 20px;
    display: inline;
}
/* here you can find every thing about the 3rd and 4th project */
.m2s-art3{
    width: 100%;
    height: 800px;
    margin-top: 200px;
    text-transform: capitalize;
}
.m2sa3-imgdiv{
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}
.m2sa3-img{
    width: 100%;
    height: 100%;
}
.m2sa3-details{
    width: 100%;
    height: 400px;
    margin: 20px 0px;
}
.m2sa3-title{
    display: inline-block;
    margin: 20px;
    font-size: 30px;
}
.m2sa3-list{
    list-style: none;
}
.m2sa3-item{
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: black;
    line-height: 40px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px 10px;
    font-size: 18px;

}
.m2sa3-bio{
    width: 320px;
    height: fit-content;
    margin: 30px auto;
    font-size: 20px;
    text-align: justify;
}
.m2sa3-but{
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 40px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.m2sa3-link{
    display: inline-block;
    color: white;
    line-height: 60px;
    border-radius: 10px;
    width: 180px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    transition: all 0.4s;
}
.m2sa3-link:hover{
    background-color: rgba(255, 217, 0, 0.479);
    color: black;
    
}
.m2sa3l-img{
    width: 20px;
    display: inline;
}
.m2s-art4{
    width: 100%;
    height: 780px;
    
}
/* here is the last part and the footer of the page  */
footer{
    width: 100%;
    height: 800px;
    margin-top: 150px;
    text-align: center;
    
}
.foot-line{
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: gold;
    border-radius: 5px;
}
.foot-title{
    display: inline-block;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foot-bio{
    display: block;
    margin: 30px 20px;
    font-size: 50px;
}
.foot-form{
    width: 100%;
    height: 400px;
    
}
.foot-input{
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid gold;
    color: white;
}
#foot-text{
    height: 90px;
}
.foot-butt{
    display: block;
    margin: 20px auto;
    background-color: transparent;
    outline: none;
    border: none;
    width: 200px;
    height: 60px;
    border: solid 2px gold ;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transition: all 0.4s;
}
.foot-butt:hover{
    background-color: rgba(255, 217, 0, 0.479);
    color: black;
    border: none;
}
.foot-end{
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
}
.foot-endb{
    font-size: 20px;
    text-align: center;
    width: 250px;
    text-align: center;
    display: block;
    margin: 20px auto;
}
.foot-link{
    width: 60px;
    text-align: center;
    
}
.footl-img{
    width: 60px;
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
    margin: 10px;
    transition: all 0.3s;
}
.footl-img:hover{
    transform: scale(1.5);
    
}

/* here you can find every thing about the tablet size */
@media (min-width:768px) {
    body{
        background-color: rgba(1, 1, 36, 0.986);
    }
    header{
        position: relative;
        width: 100%;
        height: 600px;
    }
    .up-home{
        bottom: 2%;
        left: 2%;
    }
    .head-title{
        text-align: left;
        width: 380px;
        margin-left: 20px;
        
    }
    .headbut{
        width: 380px;
        margin-top: 0px;
        
    }
    .head-img{
        width: 300px;
        height: 300px;
        position: absolute;
        right: 30px;
        top: 80px;
    }
    .head-skills{
        height: 120px;
    }
    .m1d{
        margin-top: 30px;
        position: relative;
        height: 300px;
    }
    .m1d-bio{
        width: 350px;
        height: 200px;
        margin: 5px 0px 0px 20px;
        
        
    }
    .m1d-list{
       width: 350px;
       height: 150px;
       margin: 0px;
       position: absolute;
        top: 120px;
        right: 40px;
    }
    .m1d-item{
        display: inline-block;
        margin: 5px;
        
    }
    .m2d{
        margin: 0px;
        width: 350px;
        height: 300px;
        margin: 10px auto;
    }
    .m2s-art1{
        height: 830px;
    }
    .m2sa-list{
        text-align: left;
    }
    .m2sa-bio{
        margin: 10px 25px;
        float: left;
    }
    .m2sal-div{
        width: 350px;
        float: right;
        margin: 0px 10px;
    }
    .m2saimg-div{
        height: 450px;
        margin-top: 5px;
    }
    .m2s-art2{
        margin-top: 10px;
        height: 800px;
    }
    .m2sa2img-div{
        height: 450px;
    }
    .m2sa2-details{
        margin-top: 10px;
    }
    .m2sa2-list{
        text-align: left;
        margin-left: 20px;
    }
    .m2sa2-bio{
        margin: 10px 20px;
        float: left;
    }
    .m2sa2l-div{
        width: 350px;
        float: right;
        margin: 0px 30px;
    }
    .m2s-art3{
        margin-top: 20px;
        height: 700px;
    }
    .m2sa3-imgdiv{
        height: 450px;
    }
    .m2sa3-title{
        margin: 5px 20px;
    }
    .m2sa3-list{
        text-align: left;
        margin-left: 20px;
    }
    .m2sa3-bio{
        margin: 40px 25px;
        float: left;
    }
    .m2sa3-but{
        width: 350px;
        float: right;
        margin: 20px 20px;
    }

    footer{
        margin-top: 10px;
    }
}

/* here is all about the desktop size */
@media (min-width:1160px) {
    body{
        background-color: rgba(1, 1, 36, 0.986);
    }
    header{
        position: relative;
        width: 100%;
        height: 620px;
    }
    .up-home{
        bottom: 1.5%;
        left: 1.5%;
    }
    .head-nav{
        height: 100px;
    }
    .hn-left{
        float: left;
    }
    .hn-right{
        width: 700px;
        height: 80px;
        float: right;
    }
    .head-img{
        width: 400px;
        height: 400px;
        right: 70px;
        top: 45px;
    }
    .head-skills{
        margin-top: 140px;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
    .m1s{
        position: relative;
    }
    .m1d{
        height: 500px;
        width: 400px;
    }
    .m1d-list{
        position: absolute;
        top: 320px;
    }
    .m2d{
        position: absolute;
        top: 50px;
        right: 100px;
    }
    .m2s-art1{
        height: 600px;
        position: relative;
        width: 100%;
    }
    .m2sal-div{
        float: none;
        position: absolute;
        bottom: 150px;
    }
    .m2sa-img{
        width: 600px;
        height: 300px;
        position: absolute;
        bottom: 5px;
        right: 20px;
    }
    .m2s-art2{
        height: 600px;
        position: relative;
        width: 100%;
    }
    .m2sa2img-div{
        width: 600px;
        height: 300px;
        position: absolute;
        bottom: 5px;
        right: 25px;
    }
    .m2sa2l-div{
        float: none;
        position: absolute;
        bottom: 200px;
        left: 0px;
        margin: 5px;
    }
    .m2s-art3{
        height: 600px;
        position: relative;
        width: 100%;
    }
    .m2sa3-imgdiv{
        width: 600px;
        height: 300px;
        position: absolute;
        bottom: 5px;
        right: 25px;
    }
    .m2sa3-but{
        float: none;
        position: absolute;
        bottom: 200px;
        left: 0px;
        margin: 5px;
    }
    .m2s-art4{
        height: 600px;
        position: relative;
        width: 100%;
    }
    .foot-form{
        font-size: 40px;
    }
    .foot-input{
        font-size: 30px;
    }
    #foot-text{
        font-size: 30px;
        height: 150px;
    }
}